<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        	<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/work">Samples</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				
			 <p style="color:green">© Ricardo Contreras</p>
                         <p style="color:red"> Please write me at racontreras@wisc.edu if you have any questions.</p>
                         <p style="color:gray">last updated: April 10, 2018</p>
				
	    		<ul>
	        		<li><a href="mailto:racontreras@wisc.edu">email</a></li>
	        		<li><a href="https://github.com/racontreras">github.com/racontreras</a></li>
				</ul>
			</footer>
		</body>
	</html>
